.main-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 0rem;
    background: linear-gradient(to bottom right, rgb(55, 172, 195), white, white);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-size: 100vw 38vh;
}

.about-me {
    width: 90%;
    height: 30vh;
    background-color: rgb(255, 255, 255);
    margin-top: 0em;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-me-info {
    padding: 3em;
    width: 60%;
}

.about-me-image {
    width: 40%;
}

.about-me-img {
    position: relative;
    object-fit: cover;
    width: 110%;
    height: 115%;
    margin: -1vw
}

.about-me-icons {
    margin-top: 2em;
    float: right;
}

.about-me-icons i {
    padding-left: 1.2em;
    font-size: 1.3em;
}

.header-title {
    margin-bottom: 0px;
    margin-top: 5em;
    padding: 0px;
}

.my-projects {
    margin-top: 0px;
    width: 90%;
    /* height: 30vh; */
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    row-gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    max-width: 1300px;
    padding-top: 0em;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
}

.project-details {
    padding: 0.8em;
}

.project-details-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.src {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-icons i {
    padding-left: 1.2em;
}

.contact-me {
    margin-top: 3em;
    width: 100vw;
    /* height: 30vh; */
    background-color: rgb(55, 172, 195);
    color: #fff;
}

.contact-me-subcontainer {
    display: flex;
    flex-direction: row;
}

.contact-info-image {
    width: 60%;
}

.contact-info {
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.contact-me-icons {
    margin-top: 1.5em;
    color: black;
    text-align: center;
}

.contact-me-icons i {
    font-size: 1.8em;
    padding: 0.3em;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fa-solid+span {
    display: inline-block;
    vertical-align: middle;
}

.phone-container {
    margin-top: 1.5em;
}

.email-container {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {

    .my-projects {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }

    .about-me {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
    }

    .about-me-info {
        width: 85%;
        font-size: 1em;
    }

    .about-me-image {
        width: 50%;
        height: 100%;
        object-fit: fill;
    }

    .about-me-icons {
        margin-top: 1em;
        float: right;
        margin-bottom: 1em;
    }

    .about-me-icons i {
        padding-left: 1em;
        font-size: 1em;
    }

    .header-title {
        margin-bottom: 0px;
        margin-top: 1em;
        padding: 0px;
    }

    .about-me-img {
        position: relative;
        object-fit: fill;
        width: 120%;
        height: 125%;
        /* border: 3px solid yellow; */
    }

    .contact-info-image {
        width: 100%;
    }

    .contact-info {
        width: 50%;
        padding: 1em;
        display: flex;
        flex-direction: column;
    }

    .contact-me {
        margin-top: 3em;
        width: 100vw;
        /* height: 30vh; */
        background-color: rgb(55, 172, 195);
        color: #fff;
    }

    .contact-me-subcontainer {
        display: flex;
        flex-direction: row;
        padding: 3em;
    }
}

@media only screen and (min-width: 992px) {
    .my-projects {
        grid-template-columns: repeat(3, 1fr);
    }
    .header-title {
        margin-bottom: 0px;
        margin-top: 5em;
        padding: 0px;
    }
    .about-me {
        width: 90%;
        height: 30vh;
        background-color: rgb(255, 255, 255);
        margin-top: 3em;
        display: flex;
        flex-direction: row;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .about-me-info {
        padding: 3em;
        width: 60%;
    }

    .about-me-image {
        width: 40%;
    }

    .about-me-img {
        position: relative;
        object-fit: cover;
        width: 110%;
        height: 115%;
        margin: -1vw
    }

    .about-me-icons {
        margin-top: 2em;
        float: right;
    }

    .about-me-icons i {
        padding-left: 1.2em;
        font-size: 1.3em;
    }

    .contact-me {
        margin-top: 3em;
        width: 100%;
        /* height: 30vh; */
        background-color: rgb(55, 172, 195);
        color: #fff;
    }

    .contact-me-subcontainer {
        display: flex;
        flex-direction: row;
        padding: 3em;
    }

    .contact-info-image {
        width: 60%;
    }

    .contact-info {
        padding: 2em;
        display: flex;
        flex-direction: column;
    }

    .contact-me-icons {
        margin-top: 1.5em;
        color: black;
        text-align: center;
    }

    .contact-me-icons i {
        font-size: 1.8em;
        padding: 0.3em;
    }

    .card {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .fa-solid+span {
        display: inline-block;
        vertical-align: middle;
    }

    .phone-container {
        margin-top: 1.5em;
    }

    .email-container {
        margin-top: 0.5em;
        margin-bottom: 1em;
    }
}

@media (max-width: 767px) {
    .my-projects {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
    }

    .about-me-info {
        width: 85%;
        font-size: 1em;
    }

    .about-me-image {
        width: 80%;
        height: 100%;
        object-fit: cover;
        align-items: center;
    }

    .contact-me {
        margin-top: 1em;
        width: 100vw;
        background-color: rgb(55, 172, 195);
        color: #fff;
    }

    .contact-me-subcontainer {
        display: flex;
        flex-direction: column;
        padding: 1em;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .contact-info-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100%;
    }

    .contact-info-image img {
        width: 100vw;
        height: auto;
    }

    .fa-solid {
        display: none;
    }
}